@model BoiPoka.ViewModels.CreateBookViewModel
@{
	ViewData["Title"] = "Create Book";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="book-container">
	<div class="book-box">
		<h2 class="text-center mb-4">Create Book</h2>
		<form asp-action="Create" method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="mb-3">
				<label asp-for="Title" class="form-label"></label>
				<input type="text" asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Description" class="form-label"></label>
				<input type="text" asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Author" class="form-label"></label>
				<input type="text" asp-for="Author" class="form-control" />
				<span asp-validation-for="Author" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Price" class="form-label"></label>
				<input type="number" asp-for="Price" class="form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="StockQuantity" class="form-label">Stock Quantity</label>
				<input type="number" asp-for="StockQuantity" class="form-control" />
				<span asp-validation-for="StockQuantity" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Category" class="form-label"></label>
				<select asp-for="Category" asp-items="Model.CategoryList" class="form-select">
					<option value="">-- Select a Category --</option>
				</select>
				<span asp-validation-for="Category" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label class="form-label">Book Image</label>
				<input type="file" name="file" class="form-control" />
				@{
					if (ViewData.ModelState["CoverImage"]?.Errors.Count > 0)
					{
						<span class="text-danger">@ViewData.ModelState["CoverImage"].Errors[0].ErrorMessage</span>
					}
				}
			</div>
			<input type="hidden" asp-for="CreatedAt" value="@DateTime.Now.ToString("o")" class="form-control" />
				

			<input type="submit" value="Create" class="btn btn-success w-100 p-2" />
			
			<div class="text-center">
				<a asp-controller="Home" asp-action="Index" class="text-decoration-none mt-3">Back</a>
			</div>
		</form>
	</div>
</div>