@model IEnumerable<BoiPoka.Models.Books>
@{
    ViewData["Title"] = "Home Page";
}
<h2 class="m-4 text-center">BoiPoka: Your Online Book Store</h2>
<div class="row">
    @foreach (var book in Model)
    {
        <div class="col-md-4">
            @Html.Partial("_BookCard", book)
        </div>
    }
</div>
