@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> signInManager

<ul class="navbar-nav ms-auto">
	@if (!User.IsInRole("Admin"))
	{
		<li class="nav-item">
			@try
			{
				@await Component.InvokeAsync("CartCount")
			}
			catch (Exception ex)
			{
				<span class="nav-link text-danger">Cart Err</span>
			}

		</li>
	}
	@if(signInManager.IsSignedIn(User))
	{
		if (User.IsInRole("Admin"))
		{
			<li class="nav-item">
				<a class="nav-link text-dark" asp-controller="Admin" asp-action="Dashboard">@User.Identity.Name</a>
			</li>
		}
		else
		{
			<li class="nav-item">
				<a class="nav-link text-dark" asp-controller="User" asp-action="Index">@User.Identity.Name</a>
			</li>
		}
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
		</li>
	}
</ul>
